<div style="width: 1400px; margin: 0 auto; display: flex; justify-content: space-between;">
  <div style="width: 22%;">
    <h1>Unibet</h1>

    <% @unibet.each do |bet| %>
      <div class="box">
        <div class="banner">
          <p><%= bet.time.strftime("%d/%m") %> - <%= bet.time.strftime("%H:%M") %></p>
        </div>

        <div class="bets">
          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag(bet.home_team.parameterize(separator: '-'), size: "24x24") %>
              <p><b><%= bet.home_team %></b></p>
            </div>
            <p class="bet-text"><b><%= bet.home_team_bet %></b></p>
          </div>

          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag("tie", size: "24x24") %>
              <p><b>Oavgjort</b></p>
            </div>
            <p class="bet-text"><b><%= bet.tie_bet %></b></p>
          </div>

          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag(bet.away_team.parameterize(separator: '-'), size: "24x24") %>
              <p><b><%= bet.away_team %></b></p>
            </div>
            <p class="bet-text"><b><%= bet.away_team_bet || '-' %></b></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div style="width: 22%;">
    <h1>Casumo</h1>

    <% @casumo.each do |bet| %>
      <div class="box">
        <div class="banner">
          <p><%= bet.time.strftime("%d/%m") %> - <%= bet.time.strftime("%H:%M") %></p>
        </div>

        <div class="bets">
          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag(bet.home_team.parameterize(separator: '-'), size: "24x24") %>
              <p><b><%= bet.home_team %></b></p>
            </div>
            <p class="bet-text"><b><%= bet.home_team_bet %></b></p>
          </div>

          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag("tie", size: "24x24") %>
              <p><b>Oavgjort</b></p>
            </div>
            <p class="bet-text"><b><%= bet.tie_bet %></b></p>
          </div>

          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag(bet.away_team.parameterize(separator: '-'), size: "24x24") %>
              <p><b><%= bet.away_team %></b></p>
            </div>
            <p class="bet-text"><b><%= bet.away_team_bet || '-' %></b></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div style="width: 22%;">
    <h1>SpeedyBet</h1>

    <% @speedy_bet.each do |bet| %>
      <div class="box">
        <div class="banner">
          <p><%= bet.time.strftime("%d/%m") %> - <%= bet.time.strftime("%H:%M") %></p>
        </div>

        <div class="bets">
          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag(bet.home_team.parameterize(separator: '-'), size: "24x24") %>
              <p><b><%= bet.home_team %></b></p>
            </div>
            <p class="bet-text"><b><%= bet.home_team_bet %></b></p>
          </div>

          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag("tie", size: "24x24") %>
              <p><b>Oavgjort</b></p>
            </div>
            <p class="bet-text"><b><%= bet.tie_bet %></b></p>
          </div>

          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag(bet.away_team.parameterize(separator: '-'), size: "24x24") %>
              <p><b><%= bet.away_team %></b></p>
            </div>
            <p class="bet-text"><b><%= bet.away_team_bet || '-' %></b></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div style="width: 22%;">
    <h1>888Sport</h1>

    <% @eighteighteightsport.each do |bet| %>
      <div class="box">
        <div class="banner">
          <p><%= bet.time.strftime("%d/%m") %> - <%= bet.time.strftime("%H:%M") %></p>
        </div>

        <div class="bets">
          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag(bet.home_team.parameterize(separator: '-'), size: "24x24") %>
              <p><b><%= bet.home_team %></b></p>
            </div>
            <p class="bet-text"><b><%= bet.home_team_bet %></b></p>
          </div>

          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag("tie", size: "24x24") %>
              <p><b>Oavgjort</b></p>
            </div>
            <p class="bet-text"><b><%= bet.tie_bet %></b></p>
          </div>

          <div class="bet-box">
            <div class="bet-box-team">
              <%= image_tag(bet.away_team.parameterize(separator: '-'), size: "24x24") %>
              <p><b><%= bet.away_team %></b></p>
            </div>
            <p class="bet-text"><b><%= bet.away_team_bet || '-' %></b></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>