<div style="width: 900px; margin: 0 auto; display: flex; justify-content: space-between;">
  <div style="width: 30%;">
    <h1 style="text-align: center">Unibet</h1>

    <% @unibet.each do |bet| %>
      <div style="width: 100%; border: 1px solid gray; margin-bottom: 10px;">
        <p><%= bet.time %></p>
        <p><b><%= bet.home_team %>:</b> <%= bet.home_team_bet %></p>
        <p><b>Oavgjort:</b> <%= bet.tie_bet %></p>
        <p><b><%= bet.away_team %>:</b> <%= bet.away_team_bet %></p>
      </div>
    <% end %>
  </div>

  <div style="width: 30%;">
    <h1 style="text-align: center">Betsson</h1>

    <% @betsson.each_slice(3) do |bet| %>
      <div style="width: 100%; border: 1px solid gray; margin-bottom: 10px;">
        <p><%= bet[0]["label"] %> - <%= bet[2]["label"] %></p>
        <p><%= bet[0]["odds"] %> <%= bet[1]["odds"] %> <%= bet[2]["odds"] %></p>
      </div>
     <% end %>
  </div>

  <div style="width: 30%;">
    <h1 style="text-align: center">888Sport</h1>

    <% @eighteighteightsport.each do |bet| %>
      <div style="width: 100%; border: 1px solid gray; margin-bottom: 10px;">
        <p><%= bet.time %></p>
        <p><b><%= bet.home_team %>:</b> <%= bet.home_team_bet %></p>
        <p><b>Oavgjort:</b> <%= bet.tie_bet %></p>
        <p><b><%= bet.away_team %>:</b> <%= bet.away_team_bet %></p>
      </div>
    <% end %>
  </div>
</div>